<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.kulebyakin.multiplicationmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/horse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/horse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Chat"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RatingList"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID"/>
    </application>

</manifest>